[submodule "baselines/TF-ICON"]
	path = baselines/TF-ICON
	url = https://github.com/matteosantelmo/TF-ICON
[submodule "baselines/KV-Edit"]
	path = baselines/KV-Edit
	url = git@github.com:matteosantelmo/KV-Edit.git
