pip>=24.0.1
diffusers
gradio>=4.44.1
torch>=2.4.0
numpy
matplotlib
pillow
wandb
einops
transformers
accelerate
sentencepiece
jupyter
ipykernel
# hpsv2
scipy
pytorch_lightning
seaborn
pandas
matplotlib